 {% extends 'base.html.twig' %}
 
{% block body %}
<div class="container">
<h1>Update bailleur</h1>
{{ form_start(form) }}

    <div class="form-group">
        <label for="">bailleurs de fonds</label>
        {{ form_widget(form.nom, {'attr':{'class':'form-control'}})}}
    </div>
    <div class="form-group">
        <label for="">secteurs d'intervation</label>
        {{ form_widget(form.secteurIntervation)}}
    </div>
    <div class="form-group">
        <label for="">type de financement</label>
        {{ form_widget(form.typeFinancement)}}
    </div>
    <div class="form-group">
        <label for="">part finance par le bailleur de fonds</label>
        {{ form_widget(form.partFinancer)}}
    </div>
    <div class="form-group">
        <label for="">maturite de la facilite</label>
        {{ form_widget(form.maturite)}}
    </div>
    <div class="form-group">
        <label for="">periode de grace de la facilite</label>
        {{ form_widget(form.periodeGrace)}}
    </div>
    <div class="form-group">
        <label for="">taux d'interet</label>
        {{ form_widget(form.tauxInteret)}}
    </div>
    <div class="form-group">
        <label for="">diffrentiel d'interet</label>
        {{ form_widget(form.differencielInteret)}}
    </div>
    <div class="form-group">
        <label for="">frais de gestion</label>
        {{ form_widget(form.fraisGestion)}}
    </div>
    <div class="form-group">
        <label for="">commision d'engagement</label>
        {{ form_widget(form.commissionEngagement)}}
    </div>
    <div class="form-group">
        <label for="">commission de service</label>
        {{ form_widget(form.commissionService)}}
    </div>
    <div class="form-group">
        <label for="">commission initiale</label>
        {{ form_widget(form.commissionInitiale)}}
    </div>
    <div class="form-group">
        <label for="">commission d'arrangement</label>
        {{ form_widget(form.commissionArragement)}}
    </div>
    <div class="form-group">
        <label for="">frais d'exposition</label>
        {{ form_widget(form.fraisExposition)}}
    </div>
    <div class="form-group">
        <label for="">commission d'agent</label>
        {{ form_widget(form.commissionAgent)}}
    </div>
    <div class="form-group">
        <label for="">maturite de la lettre de credit</label>
        {{ form_widget(form.maturiteLettreCredit)}}
    </div>
    <div class="form-group">
        <label for="">frais lies a la mise en place de la lettre de credit</label>
        {{ form_widget(form.fraisRefLettreCredit)}}
    </div>
    <div class="form-group">
        <label for="">frais et debours</label>
        {{ form_widget(form.fraisRebours)}}
    </div>
    <div class="form-group">
        <label for="">prime d'assurance / frais de garantie</label>
        {{ form_widget(form.primeAssuranceFraisGarantie)}}
    </div>
    <div class="form-group">
        <label for="">prime d'attenuation du risque de credit</label>
        {{ form_widget(form.primeAttenuationRisqueCredit)}}
    </div>
    <button type="submit" class="btn btn-success">Update</button>
{{ form_end(form) }}
</div>
{% endblock %}
